# Dependencies
node_modules

# Next.js build output
.next/

# Public folder outputs (for exported builds)
out/

# Tailwind and PostCSS config caches
*.cache

# TypeScript
*.tsbuildinfo

# Environment files
.env
*.local

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
