@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-xl;
  @apply font-serif;
  @apply font-bold;
}

h2 {
  @apply text-base;
  @apply font-semibold;
}

a {
  @apply cursor-pointer;
  @apply hover:underline;
}

ul {
  @apply list-disc;
  @apply pl-5;
}

input,
textarea {
  @apply border;
  @apply border-gray-400;
  @apply px-4;
  @apply py-2;
}

select {
  @apply border;
  @apply border-gray-400;
  @apply px-4;
  @apply py-2;
  @apply bg-white;
}

.primary-button {
  @apply bg-black;
  @apply text-white;
  @apply border-2;
  @apply border-black;
  @apply font-serif;
  @apply font-semibold;
  @apply px-4;
  @apply py-2;
  @apply mt-2;
  @apply hover:bg-white;
  @apply hover:text-black;
  @apply disabled:bg-gray-400;
  @apply disabled:border-gray-400;
  @apply disabled:hover:bg-gray-400;
  @apply disabled:hover:text-white;
  @apply disabled:cursor-not-allowed;
}

.secondary-button {
  @apply bg-white;
  @apply text-black;
  @apply border-2;
  @apply border-black;
  @apply font-serif;
  @apply font-semibold;
  @apply px-4;
  @apply py-2;
  @apply mt-2;
  @apply hover:bg-black;
  @apply hover:text-white;
}

.page {
  @apply w-full;
  @apply h-full;
  @apply flex;
  @apply flex-col;
  @apply py-8;
  @apply gap-8;
  @apply px-8;
  @apply lg:px-0;
}

.container {
  @apply max-w-[1280px];
  @apply mx-auto;
  @apply flex;
  @apply flex-col;
  @apply gap-8;
}

.full-width {
  @apply w-screen;
  @apply -ml-8;
  @apply lg:ml-0;
  @apply py-8;
  @apply bg-gray-100;
  @apply min-h-48;
  @apply flex;
  @apply flex-col;
  @apply gap-2;
}

.section {
  @apply flex;
  @apply flex-col;
  @apply md:flex-row;
  @apply w-full;
  @apply gap-4;
  @apply lg:gap-8;
}

.box {
  @apply border;
  @apply border-gray-500;
  @apply flex;
  @apply flex-col;
  @apply p-4;
  @apply gap-2;
  @apply text-sm;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 500px));
  }
}

.animate-scroll {
  animation: scroll 200s linear infinite;
}
